/*Horizontal Laser*/
#element {
    width: 620px;
    height: 465px;
}

.hover {
    position: relative;
    z-index: 2;
    -webkit-transition: height .85s ease;
    transition: height .85s ease;
}

.item:hover .hover {
    height: 100%;
}

.laser {
    position: absolute;
    border-radius: 50%;
    opacity: 0;

    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;

    -webkit-transition-delay: .75s;
    transition-delay: .75s;
}

.item:hover .laser {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/*Vertical Laser*/
/*
.item {
    width: 915px;
    height: 800px;
    background: url(../img/bg.jpg) no-repeat;
    background-size: 915px 800px;
    -webkit-background-size: 915px 800px;
}

.hover {
    position: relative;
    z-index: 2;
    width: 0;
    height: 100%;
    background: url(../img/hover.jpg) no-repeat;
    background-size: 915px 800px;
    -webkit-background-size: 915px 800px;

    -webkit-transition: height .85s ease;
    transition: height .85s ease;
}

.item:hover .hover {
    width: 100%;
}

.laser {
    position: absolute;
    right: -2px;
    width: 3px;
    height: 100%;
    border-radius: 50%;
    background: red;

    -webkit-box-shadow: 0 0 23px 7px red;
    box-shadow: 0 0 23px 7px red;
    opacity: 0;

    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;

    -webkit-transition-delay: .75s;
    transition-delay: .75s;
}

.item:hover .laser {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
 */